.btn-a{
	color: white!important;
}
.red{
	color: red!important;
}
.hide{
	display: none;
}
.searchbar{
	float: right;
	margin-top: 40px;
	clear: both;
}
.mar40{
	margin-top: 140px;
}


ul, li {
    margin:0;
    padding:0;
    list-style-type:none;   
}
 
/*Задаём параметры блока, содержащего основное меню*/
#menu {
    display:block;
    position:absolute;
    top:100px;
    left:50px;
         
}
 
/*Задаём стили для разделов нашего меню*/
#menu > li {
    display:inline-block;
    height:20px;
    position:relative;
}
 
/*Стили для скрытого выпадающего меню*/
#menu > li > ul {
    position:absolute;
    top:20px;
    display:none;   
}
 
/*Делаем скрытую часть видимой*/
#menu > li:hover > ul {
    display:block;  
}

.mypanel{
	float: right;
	color: white;
}
.mypanel a,.mypanel a:hover {
	color: white;
}


.navbar-inverse, .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a{
	background-image: linear-gradient(to bottom, #FBD941, #FAD43A)!important;
	color: white;
}
