#header {
    min-height: 60px;
    height: 60px;
}

#header .brand {
    min-height: 60px;  
    line-height: 15px; 
}

#header .toggle-navigation.toggle-left {
    margin-top: 10px;
}

#header .user-nav {
    padding-top: 10px;
}

#leftside-navigation {
    margin-top: 60px;
}

#leftside-navigation ul li a {
    padding-left: 15px;
}

#leftside-navigation .nav .sub-menu.active .submenu  {
    display: none;
}

.main-content-wrapper #main-content {
    margin-top: 60px;
}

.main-content-toggle-left {
    margin-left: 253px;
}

.menu-text {
    font-size: 19px;
    padding-left: 15px;
}

.menu-min #leftside-navigation {
    margin-top: 60px;
    overflow: visible;
}

.menu-min #leftside-navigation .nano-content {
    overflow: visible;
}


.page-header {
    margin-top: 10px;
}

.menu-min.sidebar {
    width: 53px;
}
.menu-min.sidebar:before {
    width: 53px;
}
.menu-min.sidebar+.main-content {
    margin-left: 53px;
}
.menu-min.sidebar+.main-content .breadcrumbs.fixed, .menu-min.sidebar+.main-content .breadcrumbs.breadcrumbs-fixed {
    left: 43px;
}
.menu-min .nav-list a .badge, .menu-min .nav-list a .label {
    position: relative;
    top: -1px;
    right: auto;
    left: 4px;
}
.menu-min .nav-list .submenu .submenu a .badge, .menu-min .nav-list .submenu .submenu a .label {
    top: 0;
}
.menu-min .nav-list>li>a {
    position: relative;
}
.menu-min #leftside-navigation .nav-list>li>a>.menu-text {
    display: none;
    position: absolute;
    left: 53px;
    top: 0px;
    width: 187px;
    height: 60px;
    line-height: 38px;
    background-color: #f5f5f5;
    z-index: 121;
    -webkit-box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    padding-left: 12px;
    font-size: 19px;
    padding-top: 10px;
}
.menu-min .nav-list>li>a.dropdown-toggle>.menu-text {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    top: -1px;
    left: 53px;
    width: 187px;
    border-bottom: 1px solid #ddd;
}
.menu-min .nav-list>li>a .arrow {
    display: none;
}
.menu-min .nav-list>li>a:hover:before {
    width: 2px;
}
.menu-min .nav-list>li:hover>a {
    color: #1963aa;
}
.menu-min .nav-list>li:hover>a>.menu-text {
    display: block!important;
}
.menu-min .nav-list>li.active>a>.menu-text {
    border-left-color: #1963aa;
}
.menu-min .nav-list>li.open>a {
    /*background-color: #fafafa;*/
    color: #585858;
}
.menu-min .nav-list>li.open.active>a {
    background-color: #fff;
}
.menu-min .nav-list>li.open:hover>a {
    color: #1963aa;
}
.menu-min .nav-list>li.active>a {
    color: #2b7dbc;
}
.menu-min .nav-list>li.active>a:after {
    border-width: 10px 6px;
    top: 8px;
}
.menu-min .nav-list>li.active.open>a:after {
    display: block;
}
.menu-min .nav-list>li.active.open li.active>a:after {
    display: none;
}
.menu-min .nav-list>li>.submenu {
    background: #fff;
    position: absolute;
    z-index: 999999;
    left: 53px;
    top: 62px;
    width: 187px;
    border: 1px solid #ccc;
    -webkit-box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.2);
    padding-top: 40px;
    padding-bottom: 2px;
    display: none!important;
    overflow-y: scroll;
    max-height: 478px;
}
.menu-min .nav-list>li>.submenu:before {
    display: none;
}
.menu-min .nav-list>li>.submenu li:before {
    display: none;
}
.menu-min .nav-list>li>.submenu li>a {
    margin-left: 0;
    padding-left: 24px;
}
.menu-min .nav-list>li>.submenu li>a>[class*="fa-"]:first-child {
    left: 4px;
}
.menu-min .nav-list>li:hover>.submenu {
    display: block!important;
}
.menu-min .nav-list>li.active>.submenu {
    border-left-color: #2b7dbc;
}
.menu-min .sidebar-collapse:before {
    left: 5px;
    right: 5px;
}
.menu-min .sidebar-collapse>[class*="fa-"] {
    font-size: 13px;
    padding: 0 4px;
    line-height: 15px;
    border-width: 1px;
    border-color: #aeaeae;
}
.menu-min .nav-list>li>.submenu li>.submenu>li>a {
    margin-left: 0;
    padding-left: 30px;
}
.menu-min .nav-list>li>.submenu li>.submenu>li>.submenu>li>a {
    margin-left: 0;
    padding-left: 45px;
}
.menu-min .nav-list>li>.submenu li.active>a:after {
    display: none;
}
.menu-min .nav-list li.active.open>.submenu>li.active>a:after {
    display: none;
}
.menu-toggler {
    display: none;
}