@font-face {
    font-family: "SV_omnibox-icons";
    src: url("omnibox-icons-36ab4d0c49d0f2b6c14fcb4a62c6b93e.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
.SV_cont #SV_svg_circle {
	cursor: pointer;
}
.SV_cont #SV_svg_circle:hover {
	opacity: 1 !important;
}
.SV_cont{
	z-index: 100002;
	color: #626568;
	font-family: "proxima-nova",sans-serif;
	font-size: 13px;
	font-weight: 400;
/*	-webkit-transform: translate3d(0, 0, 0);
	      transform: translate3d(0, 0, 0);*/  
}
.SV_cont *:focus {
    outline: none;
}
.SV_feedback{
	width: 325px;
	height: 325px;
	position: absolute;
	bottom: 60px;
	right: 0px;
	border-radius: 5px;
	box-shadow: 0px 0 35px 7px rgba(0, 0, 0, 0.2);
	background-color: rgb(255, 255, 255);
}
.SV_pane-header{
	height: 46px;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
	margin-bottom: -1em;
	padding: 1.2em 1em 0.8em;
	position: absolute;
	width: 100%;
	-webkit-transition: box-shadow 300ms linear;
	     -o-transition: box-shadow 300ms linear;
	        transition: box-shadow 300ms linear;
	background: #fafafa;
}
.SV_pane-title {
	color: #767676;
	font-weight: 300;
	font-size: 17px;
	cursor: default;
	font-size: 16px;
	text-transform: uppercase;
}
.SV_pane-body{
	top: 48px;
	bottom: 117px;
	height: 160px;	
	-moz-box-sizing: border-box;	
	     box-sizing: border-box;
	padding: 0 1em;
	position: relative;
}
.SV_faux-textbox{
	width: 100%;
	appearance: none;
	background: #fbfbfc;
	background-clip: padding-box;
	border: 1px solid #d3d4d5;
	border-top-color: #b5b5b5;
	border-radius: 3px;
	box-align: center;
	box-shadow: rgba(0,0,0,0.03) 0 1px 0 inset,rgba(255,255,255,0.5) 0 -1px 0 inset;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
	color: black;
	display: inline-block;
	font-family: "proxima-nova",sans-serif;
	font-size: 110%;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	line-height: 1.4;
	padding: 0.5em;
	vertical-align: baseline;

}
.SV_faux-textbox-textarea {
	width: 299px; /*100%*/
	height: 10em;
	font-size: 105%;
	-webkit-font-smoothing: antialiased;
	overflow: auto;
	resize: none;
	outline: none !important;
	box-shadow: none !important;
}
textarea[id="SV_voice_text"]:focus {
	border-color: #48c9b0 !important;
	background: none;
}
.SV_elasticbar{
	width: 100%;
	display: table;
	vertical-align: middle;
	top: 5px;
	position: relative;
}
.SV_elasticbar-item{
	display: table-cell;
	position: relative;
	white-space: nowrap;
	vertical-align: baseline !important;
	width:126px!important;
	height: 69px!important;
}
.SV_but-widget-right{
	margin-left: 60px!important;
}
.SV_but-widget-submit{
	background-color: #1abc9c;;
	font-weight: 600;
	box-shadow: 0 -1px 0 rgba(0,0,0,0.1) inset;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	font: inherit;
	display: inline-block;
	padding: 0;
	margin: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-box-align: center;
	box-align: center;
	-o-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	font-size: 110%;
	line-height: 1.3;
	position: relative;
	padding: 0.3em 1em;
	vertical-align: baseline;
	-webkit-transition: all 100ms;
	-o-transition: all 100ms;
	transition: all 100ms;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	color: #fff;
	box-shadow: 0 -1px 0 rgba(0,0,0,0.1) inset;
}
.SV_but-widget-submit:hover{
	background-color: #48c9b0;
}
.SV_uv-popover-tail{
	left: 296px;
	bottom: -13px;
	z-index: 10;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-top: 13px solid white;
}
.SV_toolbar-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	background: transparent;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	font: inherit;
	display: inline-block;
	padding: 0;
	margin: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-box-align: center;
	box-align: center;
	display: inline-block;
	background: transparent;
	border: 1px solid transparent;
	width: 2.14em;
	height: 2.14em;
	line-height: 2.14em;
	text-align: center;
	overflow: hidden;
	-webkit-transition: background 200ms;
	-o-transition: background 200ms;
	transition: background 200ms;
}
.SV_viewport-top-right-button {
	position: absolute;
	top: 1em;
	right: 1em;
	z-index: 1;
	outline: none;
}
.SV_icon {
    display: inline-block;
    font-family: SV_omnibox-icons !important;
    font-size: 120%;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    line-height: 1;
    speak: none;
    text-transform: none;
    width: 1em;
    height: 1em;
    vertical-align: -10%;
    text-shadow:none!important;
    -webkit-font-smoothing: antialiased;
}
.SV_button .SV_icon {
    color: #a9b0b7;
    vertical-align: -10%
}
.SV_toolbar-button .SV_close-icon {
	/*-webkit-transition: all 300ms;
	-o-transition: all 300ms;
	transition: all 300ms;*/
}
.SV_toolbar-button .SV_icon {
	color: #a9b0b7;
	font-size: 130%;
	vertical-align: -10%;
	/*-webkit-transition: all 100ms;
	-o-transition: all 100ms;
	transition: all 100ms;*/
}
.SV_toolbar-button .SV_icon {
	color: #a9b0b7;
	font-size: 130%;
	vertical-align: -10%;
	/*-webkit-transition: all 100ms;
	-o-transition: all 100ms;
	transition: all 100ms;*/
}
.SV_toolbar-button:focus .SV_close-icon, .SV_toolbar-button:hover .SV_close-icon {
    /*-webkit-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
    transform: rotateZ(90deg);*/
    color: rgb(75, 77, 79);
}
.SV_toolbar-button .SV_close-icon {
	/*-webkit-transition: all 300ms;
	-o-transition: all 300ms;
	transition: all 300ms;*/
}
.SV_close-icon:before {
	content: "\f104";
}
.SV_flat-button:hover{
	color: rgb(75, 77, 79);
}
#SV_over-layer{
	overflow: hidden;
	width: 325px ;
	height: 325px;
	position: absolute;
}
.SV_over-layer2{
	width: 650px;
	height: 325px;
	position: absolute;
	left: 0px;
	-o-transition: 0.5s;
	   transition: 0.5s;
	-webkit-transition: 0.5s;
}
.SV_feed_form{
	width: 325px;
	height: 325px;
	float: left;
}
.SV_2menubox{
	width: 325px;
	height: 280px;
	float: left;
	margin-top: 45px;
}
.SV_form_mail{
	color: rgb(75, 77, 79);
	cursor: default;
	font-size: 14px;
	line-height: 22px;
	outline-color: rgb(75, 77, 79);
	outline-style: none;
	padding: 0 0 0.5em 1.2em;
	text-align: left;
}
#SV_include_screenshot{
	outline-width: 0; /*for FF*/
	outline: none ;
	vertical-align: none !important;
	margin: 0!important;
}
.SV_form_mail_inp{
	border: 1px solid rgb(206, 209, 213);
	-moz-box-sizing: border-box;
	font: inherit;
	-moz-box-sizing: border-box;
	 box-sizing: border-box; 
	 -webkit-box-align: center; 
	-moz-box-align: center;
	-ms-box-align: center;
	box-align: center;
	font-weight: 400;
	font-size: 110% !important;
	line-height: 1.3;
	padding: 0.3em 0.5em !important;
	-moz-box-shadow: 0 -1px 0 rgba(0,0,0,0.1) inset;
	-webkit-font-smoothing: antialiased;
	width: 90%;
	height: 30px!important;
	border-radius: 3px;
	background: #fbfbfc !important;
	outline: none!important;
	box-shadow:none!important;
	margin-bottom: 0!important;
	margin-left: 15px!important;
}
.SV_form_mail_inp:focus{
	border-color: #48c9b0!important;
}
.SV_form_but2{
	top: 140px;
	left: 0px;
	position: relative;
	height: 69px!important;
	width: 325px!important;

}
.SV_flat-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	background: transparent;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	font: inherit;
	display: inline-block;
	margin: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-box-align: center;
	box-align: center;
	color: #888b8f;
	padding: 0.3em!important;
	display: inline-block;
	vertical-align: baseline;
	font-size: 110%;
	outline: none;
	text-shadow:none!important;
	width: 116px!important;
	height: 69px!important;
	background-position: 0!important;
}
.SV_text-wrap {
	white-space: normal !important;
	margin-left: 10px;
}
.SV_back-icon:before {
	content: "\f101";
}
.SV_h-elastic{
	top: 25px;
	left: 2px;
}
.SV_email_error{
	display: none;
	position: absolute;
	color: rgb(255, 0, 0);
	border: 1px solid rgb(255, 0, 0);
	-moz-box-sizing: border-box;
	font: inherit;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-box-align: center;
	-ms-box-align: center;
	box-align: center;
	font-weight: 400;
	font-size: 110%;
	line-height: 1.3;
	padding: 0.3em 0.5em;
	-moz-box-shadow: 0 -1px 0 rgba(0,0,0,0.1) inset;
	-webkit-font-smoothing: antialiased;
	-o-border-radius: 3px;
	border-radius: 3px;
	background: #fbfbfc;
	margin: 5px 0 0 16px;
	width: 293px;
}
.SV_label_screen{
	margin-bottom: 5px;
	font-size: 14px;
}
.SV_textarea_mar{
	height: 151px!important;
}
.SV_form3{
	display: none;
	float: left;
	width: 325px;
	height: 280px;
	margin-top: 45px;
}
.SV_form3_disp{
	text-align: center;
	color: #1abc9c;
	margin-top: 75px;
	font-size: 21px;
	line-height: 25px;
	font-weight: 300;
}
.SV_elasticbar3{
	margin: 94px 0 0 13px;
}
.SV_label{
	font-weight:normal!important;
}
/*.SV_pos_bottom{
	bottom: 0px;
	right: 0px;
}
.SV_pos_right{

}
.SV_pos_left{

}
.SV_pos_top{
	bottom: 10px;
	right: 20px;
	top: 55px;
}*/

.SV_tail_right{
	left: -22px;
	bottom: 10px;
	border-top: 9px solid transparent;
    border-right: 13px solid white;
    border-bottom: 9px solid transparent;
}
.SV_tail_left{
    left: 324px;
	bottom: 10px;
    border-top: 9px solid transparent;
    border-left: 13px solid white;
    border-bottom: 9px solid transparent;
}
.SV_tail_top{
	left: 296px;
	bottom: -13px;
}
.SV_tail_bottom{
    top: -13px;
	left: 296px;
	bottom:0px;
	border-right: 9px solid transparent;
    border-bottom: 13px solid white;
    border-left: 9px solid transparent;
    border-top:0px;
}
.SV_feed_bottom{
		bottom: 0; 
	top: 55px;
	right: 0px;
}
.SV_feed_top{

}
.SV_feed_right{
	bottom: 0px;
	right: 0;
	left: 55px;
}
.SV_feed_left{
	bottom: 0px;
	right: 55px;
}